<html>
  <head>
    <title></title>
  </head>
  <body>
    <app-users (userAdded)="onUserAdded($event)"></app-users>
    <table class="table table-dark" *ngIf="users.length > 0">
      <thead>
        <tr>
          <th scope="col">S.No</th>
          <th scope="col">Name</th>
          <th scope="col">Username</th>
          <th scope="col">Email</th>
          <th scope="col">Delete User</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of users ;let i = index">
          <th scope="row">{{i}}</th>
          <td >{{user.name}}</td>
          <td >{{user.username}}</td>
          <td appHighlighter>{{user.email}}</td>
          <td><button type="button" class="btn btn-danger" (click)="onDelete(i)">Delete</button></td>
        </tr>
      </tbody>
    </table>
    <ng-template [ngIf]="users.length==0">
      <p>No Users Available, Please add one!</p>
    </ng-template> 
  </body>
</html>