p {
    color: red;  
    margin-left: 340px;  
    font-size: 40px;  
  }
    
  /* body {  
    background-color: rgb(212, 153, 153);  
  } */
  /* button{
    background-color: black;
  } */
thead{
  background-color: black;
}